<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-dark">
    {%include "Teachers/navbar.html"%}
    <section class="container-fluid">
        <div class="row">
            <section class="col-sm-3 text-center">
                <img src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg"
                    width="150" height="150" class="rounded-circle mt-5">
            </section>
            <section class="col-sm-7">
                <p class="text-white fs-3 my-3">Información</p>
                <div class="row">
                    <div class="col-lg">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Nombre/s</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Apellido 1</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.lastname1}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Apellido 2</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.lastname2}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Edad</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.age}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Sexo</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.maleOrFemale}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Contrato</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-muted mb-0">{{teacher.contractType}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-sm-2">
                <p class="text-white fs-3 my-3">Acciones</p>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{% url 'Teachers:updateInfo' teacher.id%}" class="btn btn-success mb-3">Actualizar</a>
                    </div>
                    <div class="col-lg-6">
                        <form action="{% url 'Teachers:delete'%}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="Delete" value="{{teacher.id}}" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>

</html>