<div class="container-fluid my-4">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="me-2"><a href="#" class="btn btn-primary">Inicio</a></li>
          <li class="me-2"><a href="#" class="btn btn-primary">Altas</a></li>
          <li class="me-2"><a href="#" class="btn btn-primary">Bajas</a></li>
          <li class="me-2"><a href="#" class="btn btn-primary">Consultas</a></li>
          <li class=""><a href="#" class="btn btn-primary">Actualizaciones</a></li>
        </ul>
      </header>
</div>

